* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #e3edf7;
   min-height: 100vh;
   height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.skill {
   width: 160px;
   height: 160px;
   position: relative;
}

.outer-circle {
   height: 160px;
   width: 160px;
   border-radius: 50%;
   padding: 20px;
   box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner-circle {
   width: 120px;
   height: 120px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
   font-weight: 600;
   color: #555;
   font-size: 1.25rem;
}
circle {
   fill: none;
   stroke: url(#GradientColor); /* getting colors from the html */
   stroke-width: 20px;
   stroke-dasharray: 440; /* increases manually to find exact value to fill circle */
   stroke-dashoffset: 440; /* it defines how much stroke should be not filled*/
   animation: fillStroke 2s linear forwards;
}
svg {
   position: absolute;
   top: 0;
   left: 0;
}

@keyframes fillStroke {
   100% {
      /* to fill 65% => 440 - (65% * 440) => 154 */
      stroke-dashoffset: 154; /* calculated manually */
   }
}
